
body {
    min-width: 350px;
    background: #ffeeab;
    padding: 19px;
}



.text {
    border: 1px solid #bbb;
	height: 32px;
	margin-bottom: 5px;
	width: 200px;
	line-height: 32px;
	padding: 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.button {
    width: 100px;
	height: 32px;
	border: none;
	color: #FFF;
    background: #ffafbb;
	padding-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
}
